.our-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* filter */
.filter-selectors {
  @extend %unmarked-list;

  margin-bottom: 25px;
  flex-wrap: wrap;

  li {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
